# Prerequisites
*.d
*.ipch


# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.suo

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
*.opendb
*.db-wal
*.db-shm
*.db
/.vs/API_FrameWork/v16
/Debug
/x64/Debug
/v16
